<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PKDDefaultBaseURI</key>
	<string>https://pkd.littlegreenviper.com/</string>
	<key>PKDDefaultRelyingParty</key>
	<string>pkd.littlegreenviper.com</string>
</dict>
</plist>
